{% extends 'base.html' %}

{% block content %}

    <div id="add-job-app">
        <h1 class="title">Add Job</h1>
        <form method="post" action="." v-on:submit="validateForm">
            {% csrf_token %}
            
            <!-- Check if there are errors -->
            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors">[[ error ]]</p>
            </div>

            <div class="field">
                <label>Title</label>
                <div class="control">
                    <input class="input" type="text" name="title" id="id_title" v-model="title">
                </div>
            </div>

            <div class="field">
                <label>Short description</label>
                <div class="control">
                    <textarea class="textarea" name="short_description" id="id_short_description" v-model="short_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label>Long description</label>
                <div class="control">
                    <textarea class="textarea" name="long_description" id="id_long_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label>Job Post</label>
                <div class="control">
                    <input class="input" type="text" name="job_post" id="id_job_post" v-model="job_post">
                </div>
            </div>


            <div class="field">
                <label>Company name</label>
                <div class="control">
                    <input class="input" type="text" name="company_name" id="id_company_name" v-model="company_name">
                </div>
            </div>

            
            <div class="field">
                <label>Job address</label>
                <div class="control">
                    <input class="input" type="text" name="company_address" id="id_company_address">
                </div>
            </div>

            <div class="field">
                <label>Company size</label>
                <div class="control">
                    <div class="select">
                        <select name="company_size" v-model="company_size">
                            <option value="">Choose size</option>
                            <option value="size_1-20">1-20</option>
                            <option value="size_21-100">21-100</option>
                            <option value="size_101-999">101-999</option>
                            <option value="size_1000+">1000+</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <button class="button is-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    // Validate 
    const AddJobApp = {
        data() {
            return {
                title: '',
                company_name: '',
                short_description: '',
                job_post: '',
                company_size: '',
                errors: []
            }
        }, 
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []
                if(this.title === ''){
                    this.errors.push('The title field is missing')
                }
                if(this.short_description === ''){
                    this.errors.push('The short description field is missing')
                }
                if(this.company_name === ''){
                    this.errors.push('The company name field is missing')
                }
                if(this.job_post === ''){
                    this.errors.push('The job posting field is missing')
                }
                if(this.company_size === ''){
                    this.errors.push('The company size field is missing')
                }
                if(this.company_size === ''){
                    this.errors.push('The company size field is missing')
                }
                if(this.errors.length) {
                    // Form wont be submitted if there are any errors
                    e.preventDefault()
                    return false
                } else {
                    return true
                }
            }
        }
    }
    Vue.createApp(AddJobApp).mount('#add-job-app')
</script>

{% endblock %}