{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLH Project</title>
    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{%url 'landing_page' %}" class="navbar-item" style="font-weight:bold;">Events Board</a>

            <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="nav-links" class="navbar-menu">
            <div class="navbar-start">

                {% if request.user.is_authenticated %}
                <a href="{% url 'search' %}" class="navbar-item" id="mobileLinks">Search</a>
                <a href="{% url 'frontpage' %}" class="navbar-item" id="mobileLinks">Jobs</a>
                <a href="{% url 'dashboard' %}" class="navbar-item" id="mobileLinks">Dashboard</a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                        <a href="{%url 'logout' %}" id="mobileBtns" class="button is-light"><strong>Log out</strong></a>
                        {% else %}
                        <a href="{%url 'signup' %}" id="mobileBtns" class="button is-primary"><strong>Sign
                                up</strong></a>
                        <a href="{%url 'login' %}" id="mobileBtns" class="button is-light"><strong>Log in</strong></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Navbar End-->

    <!--Main Content-->
    <section class="section">
        {% block content %}
        {% endblock %}
    </section>
    <!--Main Content End-->

    <!--Scripts-->
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        // mobile menu 
        const burgerIcon = document.querySelector('#burger')
        const navbarMenu = document.querySelector('#nav-links')
        burgerIcon.addEventListener('click', () => navbarMenu.classList.toggle('is-active'))
    </script>
    {% block scripts %}
    {% endblock %}

    <!-- Footer -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
                            rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
                            vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>
    <!-- Footer -->

</body>

</html>